[submodule "Combustion/vendor/spdlog"]
	path = Combustion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Combustion/vendor/glfw"]
	path = Combustion/vendor/glfw
	url = https://github.com/ezraFlame/glfw
[submodule "Combustion/vendor/imgui"]
	path = Combustion/vendor/imgui
	url = https://github.com/ezraFlame/imgui
[submodule "Combustion/vendor/glm"]
	path = Combustion/vendor/glm
	url = https://github.com/g-truc/glm
