[submodule "Combustion/vendor/spdlog"]
	path = Combustion/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Combustion/vendor/glfw"]
	path = Combustion/vendor/glfw
	url = https://github.com/ezraFlame/glfw
